.featured-post-container {
    display: flex;
    justify-content: space-between;
}

.featured-post-container div img {
    width: 47vw;
    border-radius: 6px;
}

.featured-post-container div:nth-child(2){
    max-width: 40vw;
}